<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characteristics</key>
	<array>
		<string>HKCharacteristicTypeIdentifierDateOfBirth</string>
		<string>HKCharacteristicTypeIdentifierBloodType</string>
		<string>HKCharacteristicTypeIdentifierBiologicalSex</string>
	</array>
	<key>Categories(Sleep)</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>Workouts</key>
	<array>
		<string>HKWorkoutTypeIdentifier</string>
	</array>
	<key>Correlation Data</key>
	<array>
		<string>HKCorrelationTypeIdentifierFood</string>
		<string>HKCorrelationTypeIdentifierBloodPressure</string>
	</array>
	<key>Body Measures</key>
	<array>
		<string>HKQuantityTypeIdentifierBodyMassIndex</string>
		<string>HKQuantityTypeIdentifierBodyFatPercentage</string>
		<string>HKQuantityTypeIdentifierHeight</string>
		<string>HKQuantityTypeIdentifierBodyMass</string>
		<string>HKQuantityTypeIdentifierLeanBodyMass</string>
	</array>
	<key>Fitness</key>
	<array>
		<string>HKQuantityTypeIdentifierStepCount</string>
		<string>HKQuantityTypeIdentifierDistanceWalkingRunning</string>
		<string>HKQuantityTypeIdentifierDistanceCycling</string>
		<string>HKQuantityTypeIdentifierBasalEnergyBurned</string>
		<string>HKQuantityTypeIdentifierActiveEnergyBurned</string>
		<string>HKQuantityTypeIdentifierFlightsClimbed</string>
		<string>HKQuantityTypeIdentifierNikeFuel</string>
	</array>
	<key>Vitals</key>
	<array>
		<string>HKQuantityTypeIdentifierHeartRate</string>
		<string>HKQuantityTypeIdentifierBodyTemperature</string>
		<string>HKQuantityTypeIdentifierBloodPressureSystolic</string>
		<string>HKQuantityTypeIdentifierBloodPressureDiastolic</string>
		<string>HKQuantityTypeIdentifierRespiratoryRate</string>
	</array>
	<key>Results</key>
	<array>
		<string>HKQuantityTypeIdentifierOxygenSaturation</string>
		<string>HKQuantityTypeIdentifierPeripheralPerfusionIndex</string>
		<string>HKQuantityTypeIdentifierBloodGlucose</string>
		<string>HKQuantityTypeIdentifierNumberOfTimesFallen</string>
		<string>HKQuantityTypeIdentifierElectrodermalActivity</string>
		<string>HKQuantityTypeIdentifierInhalerUsage</string>
		<string>HKQuantityTypeIdentifierBloodAlcoholContent</string>
		<string>HKQuantityTypeIdentifierForcedVitalCapacity</string>
		<string>HKQuantityTypeIdentifierForcedExpiratoryVolume1</string>
		<string>HKQuantityTypeIdentifierPeakExpiratoryFlowRate</string>
	</array>
	<key>Nutrition</key>
	<array>
		<string>HKQuantityTypeIdentifierDietaryFatTotal</string>
		<string>HKQuantityTypeIdentifierDietaryFatPolyunsaturated</string>
		<string>HKQuantityTypeIdentifierDietaryFatMonounsaturated</string>
		<string>HKQuantityTypeIdentifierDietaryFatSaturated</string>
		<string>HKQuantityTypeIdentifierDietaryCholesterol</string>
		<string>HKQuantityTypeIdentifierDietarySodium</string>
		<string>HKQuantityTypeIdentifierDietaryCarbohydrates</string>
		<string>HKQuantityTypeIdentifierDietaryFiber</string>
		<string>HKQuantityTypeIdentifierDietarySugar</string>
		<string>HKQuantityTypeIdentifierDietaryEnergyConsumed</string>
		<string>HKQuantityTypeIdentifierDietaryProtein</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminA</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminB6</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminB12</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminC</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminD</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminE</string>
		<string>HKQuantityTypeIdentifierDietaryVitaminK</string>
		<string>HKQuantityTypeIdentifierDietaryCalcium</string>
		<string>HKQuantityTypeIdentifierDietaryIron</string>
		<string>HKQuantityTypeIdentifierDietaryThiamin</string>
		<string>HKQuantityTypeIdentifierDietaryRiboflavin</string>
		<string>HKQuantityTypeIdentifierDietaryNiacin</string>
		<string>HKQuantityTypeIdentifierDietaryFolate</string>
		<string>HKQuantityTypeIdentifierDietaryBiotin</string>
		<string>HKQuantityTypeIdentifierDietaryPantothenicAcid</string>
		<string>HKQuantityTypeIdentifierDietaryPhosphorus</string>
		<string>HKQuantityTypeIdentifierDietaryIodine</string>
		<string>HKQuantityTypeIdentifierDietaryMagnesium</string>
		<string>HKQuantityTypeIdentifierDietaryZinc</string>
		<string>HKQuantityTypeIdentifierDietarySelenium</string>
		<string>HKQuantityTypeIdentifierDietaryCopper</string>
		<string>HKQuantityTypeIdentifierDietaryManganese</string>
		<string>HKQuantityTypeIdentifierDietaryChromium</string>
		<string>HKQuantityTypeIdentifierDietaryMolybdenum</string>
		<string>HKQuantityTypeIdentifierDietaryChloride</string>
		<string>HKQuantityTypeIdentifierDietaryPotassium</string>
		<string>HKQuantityTypeIdentifierDietaryCaffeine</string>
	</array>
</dict>
</plist>
