<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>l/min</string>
	<string>g/l</string>
	<string>count/min</string>
	<string>g</string>
	<string>oz</string>
	<string>lb</string>
	<string>st</string>
	<string>m</string>
	<string>in</string>
	<string>ft</string>
	<string>mi</string>
	<string>L</string>
	<string>fl_oz_us</string>
	<string>fl_oz_imp</string>
	<string>pt_us</string>
	<string>pt_imp</string>
	<string>Pa</string>
	<string>mmHg</string>
	<string>cmAq</string>
	<string>atm</string>
	<string>s</string>
	<string>min</string>
	<string>hr</string>
	<string>d</string>
	<string>J</string>
	<string>cal</string>
	<string>kcal</string>
	<string>degC</string>
	<string>degF</string>
	<string>K</string>
	<string>S</string>
	<string>count</string>
	<string>%</string>
</array>
</plist>
