<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>HKWorkoutActivityTypeAmericanFootball</string>
	<string>HKWorkoutActivityTypeArchery</string>
	<string>HKWorkoutActivityTypeAustralianFootball</string>
	<string>HKWorkoutActivityTypeBadminton</string>
	<string>HKWorkoutActivityTypeBaseball</string>
	<string>HKWorkoutActivityTypeBasketball</string>
	<string>HKWorkoutActivityTypeBowling</string>
	<string>HKWorkoutActivityTypeBoxing</string>
	<string>HKWorkoutActivityTypeClimbing</string>
	<string>HKWorkoutActivityTypeCricket</string>
	<string>HKWorkoutActivityTypeCrossTraining</string>
	<string>HKWorkoutActivityTypeCurling</string>
	<string>HKWorkoutActivityTypeCycling</string>
	<string>HKWorkoutActivityTypeDance</string>
	<string>HKWorkoutActivityTypeDanceInspiredTraining</string>
	<string>HKWorkoutActivityTypeElliptical</string>
	<string>HKWorkoutActivityTypeEquestrianSports</string>
	<string>HKWorkoutActivityTypeFencing</string>
	<string>HKWorkoutActivityTypeFishing</string>
	<string>HKWorkoutActivityTypeFunctionalStrengthTraining</string>
	<string>HKWorkoutActivityTypeGolf</string>
	<string>HKWorkoutActivityTypeGymnastics</string>
	<string>HKWorkoutActivityTypeHandball</string>
	<string>HKWorkoutActivityTypeHiking</string>
	<string>HKWorkoutActivityTypeHockey</string>
	<string>HKWorkoutActivityTypeHunting</string>
	<string>HKWorkoutActivityTypeLacrosse</string>
	<string>HKWorkoutActivityTypeMartialArts</string>
	<string>HKWorkoutActivityTypeMindAndBody</string>
	<string>HKWorkoutActivityTypeMixedMetabolicCardioTraining</string>
	<string>HKWorkoutActivityTypePaddleSports</string>
	<string>HKWorkoutActivityTypePlay</string>
	<string>HKWorkoutActivityTypePreparationAndRecovery</string>
	<string>HKWorkoutActivityTypeRacquetball</string>
	<string>HKWorkoutActivityTypeRowing</string>
	<string>HKWorkoutActivityTypeRugby</string>
	<string>HKWorkoutActivityTypeRunning</string>
	<string>HKWorkoutActivityTypeSailing</string>
	<string>HKWorkoutActivityTypeSkatingSports</string>
	<string>HKWorkoutActivityTypeSnowSports</string>
	<string>HKWorkoutActivityTypeSoccer</string>
	<string>HKWorkoutActivityTypeSoftball</string>
	<string>HKWorkoutActivityTypeSquash</string>
	<string>HKWorkoutActivityTypeStairClimbing</string>
	<string>HKWorkoutActivityTypeSurfingSports</string>
	<string>HKWorkoutActivityTypeSwimming</string>
	<string>HKWorkoutActivityTypeTableTennis</string>
	<string>HKWorkoutActivityTypeTennis</string>
	<string>HKWorkoutActivityTypeTrackAndField</string>
	<string>HKWorkoutActivityTypeTraditionalStrengthTraining</string>
	<string>HKWorkoutActivityTypeVolleyball</string>
	<string>HKWorkoutActivityTypeWalking</string>
	<string>HKWorkoutActivityTypeWaterFitness</string>
	<string>HKWorkoutActivityTypeWaterPolo</string>
	<string>HKWorkoutActivityTypeWaterSports</string>
	<string>HKWorkoutActivityTypeWrestling</string>
	<string>HKWorkoutActivityTypeYoga</string>
</array>
</plist>
